:root{
    --primary: #17D499;
    --secondary: #312F4F;
    --accent: #696D8C;
    --error: #F79682;
    --warning: #F7BC1C;
    --success: #17D499;
}

html{
    font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
}

body {
    align-items: center;
    background: #E5E5E5;
    display: grid;
    justify-content: center;
}